In [ ]:
import pandas as pd

In [ ]:
# ML Data Manipulation

# 2 main Datatypes

In [ ]:
# series

In [ ]:
series = pd.Series(["BMW","Toyota", "Honda"])

In [ ]:
series

In [ ]:
# series = 1-dimensional

In [ ]:
colours = pd.Series(["RED","BLUE","WHITE"])
colours

In [ ]:
# DataFrame = 2-dimensional

In [ ]:
car_data = pd.DataFrame({"Car make": series, "Colour":colours})
car_data

In [ ]:
# Import data

In [ ]:
car_sales = pd.read_csv("car-sales.csv")

In [ ]:
car_sales

In [ ]:
# Anatomy of a DataFrame

![](pandas-anatomy-of-a-dataframe.png)

In [ ]:
# Exporting a DataFrame

In [ ]:
# Setting `index=False` prevents pandas from writing the DataFrame index as an additional column in the CSV file.

In [ ]:
car_sales.to_csv("exported-car-sales.csv", index = False)

In [ ]:
exported_car_sales = pd.read_csv("exported-car-sales.csv")

In [ ]:
exported_car_sales

## Describe Data

In [ ]:
# Attribute
#get the datatypes of the columns
car_sales.dtypes

# Function 
# car_sales.to_csv()

In [ ]:
car_sales.columns

In [ ]:
car_columns = car_sales.columns

In [ ]:
car_columns

In [ ]:
car_sales.index

In [ ]:
car_sales

In [ ]:
car_sales.describe() # getting a general overview of the numeric columns

In [ ]:
car_sales.info() # getting general informations abozt the columns

In [ ]:
car_sales.mean(numeric_only = True) #parameter is necessary

In [ ]:
car_prices = pd.Series([200,1700,1222,])

In [ ]:
car_prices.mean()

In [ ]:
car_sales.sum() # get the sum of each column

In [ ]:
car_sales["Doors"].sum() #Access a specific column

In [ ]:
len(car_sales) # get the count of rows

In [ ]:
car_sales

## View and selectin data

In [ ]:
car_sales.head() #top 5 rows quick snapshot

In [ ]:
car_sales.head(7)

In [ ]:
car_sales.tail() # bottom 5 rows

In [ ]:
# .loc & .iloc

In [ ]:
animals = pd.Series(["cat","dog","bird", "panda","snake"], index = [0,3,9,8,3])

In [ ]:
animals

In [ ]:
animals.loc[3] # getting the index numbers

In [ ]:
car_sales.loc[9]

In [ ]:
#iloc refers to position the third element

In [ ]:
animals.iloc[3]

In [ ]:
car_sales.iloc[2]

In [ ]:
animals.iloc[:3] # gives us the elements up to position 3

In [ ]:
car_sales.loc[:3]

In [ ]:
car_sales["Make"]

In [ ]:
car_sales.Make # works only when in the name is no space

In [ ]:
car_sales[car_sales["Make"] == "Toyota"] # Filtering Data

In [ ]:
car_sales[car_sales["Odometer (KM)"] > 100000]

In [ ]:
pd.crosstab(car_sales["Make"], car_sales["Doors"]) # Cross Tab columns

In [ ]:
#Group by

In [ ]:
car_sales.groupby(["Make"]).mean(numeric_only = True)

In [ ]:
car_sales.groupby(["Colour"])

In [ ]:
# Visualization

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
car_sales["Odometer (KM)"].plot()

In [ ]:
car_sales["Odometer (KM)"].hist()

In [ ]:
car_sales["Price"].dtype

In [ ]:
# How to change the datatype of a column

In [ ]:
car_sales["Price"] = car_sales["Price"].str.replace("[\$\,\.]","",regex = True).astype(int)

In [ ]:
## ignore the cents!

In [ ]:
car_sales["Price"] = car_sales["Price"].astype(str).str[:-2].astype(int)

In [ ]:
car_sales["Price"]

In [ ]:
car_sales["Price"].plot()

# Manipulating Data

In [ ]:
car_sales["Make"].str.lower() # access the str value of a column with the property str

In [ ]:
car_sales["Make"] = car_sales["Make"].str.lower() # assign new value the column

In [ ]:
car_sales

In [ ]:
#Working with missing Data NaN

In [ ]:
car_sales_missing = pd.read_csv("car-sales-missing-data.csv")

In [ ]:
car_sales_missing

In [ ]:
car_sales_missing["Odometer"]=car_sales_missing["Odometer"].fillna(car_sales_missing["Odometer"].mean(numeric_only=True)) # fill NAN values

In [ ]:
car_sales_missing

In [ ]:
car_sales_missing = car_sales_missing.dropna() #Drop all NAN Rows

In [ ]:
car_sales_missing

In [ ]:
car_sales_missing.to_csv("car_sales_missing_dropped")

In [ ]:
#Column from series
seats_column = pd.Series([5,5,5,5,5])

# New Column calles seats 
car_sales["Seats"] = seats_column
car_sales

In [ ]:
car_sales["Seats"]=car_sales["Seats"].fillna(5)

In [ ]:
car_sales

In [ ]:
#Column from Python List 
fuel_economy = [7.5,9.5,5.6,7.8,9.8,8.8,7.5,5.5,8.7,6] #the amount of the values must match the amount of the rows!
car_sales["Fuel per 100KM"] = fuel_economy

In [ ]:
car_sales

In [ ]:
car_sales["Total fuel used"] = car_sales["Odometer (KM)"]/100 * car_sales["Fuel per 100KM"] # generate a new column with a calculation
car_sales

In [ ]:
# create a column from a single value 
car_sales["Number of Wheels"] = 4
car_sales

In [ ]:
car_sales["Passed the road safety"] = True
car_sales

In [ ]:
car_sales.info()

In [ ]:
# Remove a column

In [ ]:
car_sales = car_sales.drop("Total fuel used", axis = 1) # axis 1 because of the anatomy

In [ ]:
car_sales

In [ ]:
car_sales=car_sales.sample(frac=1) # mix the order of the columns, frac is the fraction 1 = all 0.5 the half

In [ ]:
car_sales

In [ ]:
# Only select 20% of the data
car_sales.sample(frac = 0.2)

In [ ]:
car_sales=car_sales.reset_index(drop = True) # Order by index

In [ ]:
car_sales

In [ ]:
car_sales["Odometer (KM)"] = car_sales["Odometer (KM)"].apply(lambda x: x/1.6) # Change km to Miles

In [ ]:
car_sales

In [ ]:
car_sales = car_sales.rename(columns={"Odometer (KM)":"Odometer (Miles)"}) # Change the name of a column

In [ ]:
car_sales