In [ ]:
# Import pandas

In [ ]:
import pandas as pd

In [ ]:
# Create a series of three different colours
series = pd.Series(["Red","Blue","Black"])


# View the series of different colours
series

In [ ]:
# Create a series of three different car types and view it

car_series = pd.Series(["BMW","MERCEDES","AUDI"])

car_series

In [ ]:
new_df = pd.DataFrame({"colour":series,"car":car_series})

In [ ]:
new_df

In [ ]:
# Import "../data/car-sales.csv" and turn it into a DataFrame
car_sales = pd.read_csv("car-sales.csv")
car_sales

In [ ]:
# Export the DataFrame you created to a .csv file

In [ ]:
car_sales.to_csv("exercise_car_sales.csv")

In [ ]:
# Find the different datatypes of the car data DataFrame
car_sales.dtypes

In [ ]:
# Describe your current car sales DataFrame using describe()
car_sales.describe()

In [ ]:
# Get information about your DataFrame using info()

In [ ]:
car_sales.info()

In [ ]:
# Create a Series of different numbers and find the mean of them

series_number = pd.Series([1,2,3,4,5,6])
series_number.mean()

In [ ]:
# Create a Series of different numbers and find the sum of them
series_number.sum()

In [ ]:
# List out all the column names of the car sales DataFrame
car_sales.columns

In [ ]:
# Find the length of the car sales DataFrame
car_sales.index

In [ ]:
# Show the first 5 rows of the car sales DataFrame
car_sales.head()

In [ ]:
# Show the first 7 rows of the car sales DataFrame
car_sales.head(7)

In [ ]:
# Show the bottom 5 rows of the car sales DataFrame
car_sales.tail()

In [ ]:
# Use .loc to select the row at index 3 of the car sales DataFrame

car_sales.loc[3]

In [ ]:
# Use .iloc to select the row at position 3 of the car sales DataFrame
car_sales.iloc[3]

In [ ]:
# Select the "Odometer (KM)" column from the car sales DataFrame
# Find the mean of the "Odometer (KM)" column in the car sales DataFrame
car_sales["Odometer (KM)"].mean(numeric_only = True)

In [ ]:
# Select the rows with over 100,000 kilometers on the Odometer

car_sales[car_sales["Odometer (KM)"]>100000]

In [ ]:
# Create a crosstab of the Make and Doors columns

pd.crosstab(car_sales["Make"], car_sales["Doors"])

In [ ]:
# Group columns of the car sales DataFrame by the Make column and find the average
car_sales.groupby(["Make"]).mean(numeric_only=True)

In [ ]:


# Import Matplotlib and create a plot of the Odometer column
# Don't forget to use %matplotlib inline

%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
car_sales["Odometer (KM)"].plot()

In [ ]:
# Create a histogram of the Odometer column using hist()
car_sales["Odometer (KM)"].hist()

In [ ]:
# Try to plot the Price column using plot()
## car_sales["Price"].plot() dont work because of the datatype

In [ ]:
# Remove the punctuation from price column
car_sales["Price"] = car_sales["Price"].str.replace("[\$\,\.]","",regex = True).astype(int)

In [ ]:
car_sales

In [ ]:
car_sales["Price"] = car_sales["Price"].divide(100) # Remove the two extra zeros at the end of the price column

In [ ]:
car_sales # Check the changes to the price column

In [ ]:


# Lower the strings of the Make column


# Make lowering the case of the Make column permanent



car_sales["Make"] = car_sales["Make"].str.lower()

In [ ]:
car_sales

In [ ]:
# Import the car sales DataFrame with missing data ("../data/car-sales-missing-data.csv")
car_missing = pd.read_csv("car-sales-missing-data.csv")

# Check out the new DataFrame
car_missing

In [ ]:
# Fill the Odometer column missing values with the mean of the column inplace
car_missing["Odometer"] = car_missing["Odometer"].fillna(car_missing["Odometer"].mean(numeric_only = True))

In [ ]:
car_missing

In [ ]:


# Remove the rest of the missing data inplace

car_missing = car_missing.dropna();

In [ ]:
car_missing

In [ ]:
car_missing["Seats"] = 5
car_missing

In [ ]:
# Create a column called "Engine Size" with random values between 1.3 and 4.5
# Remember: If you're doing it from a Python list, the list has to be the same length
# as the DataFrame

In [ ]:
engine_list = [1,2,3,4,5,6]

In [ ]:
car_missing["Engine List"] = engine_list
car_missing

In [ ]:


# Create a column which represents the price of a car per kilometer
# Then view the DataFrame

car_missing["Price per KM"] = car_missing["Odometer"] / 100

In [ ]:
car_missing

In [ ]:
# Remove the last column you added using .drop()
car_missing =car_missing.drop("Price per KM", axis = 1)

In [ ]:
car_missing

In [ ]:
# Shuffle the DataFrame using sample() with the frac parameter set to 1
# Save the the shuffled DataFrame to a new variable

car_sample = car_missing.sample(frac = 1)
car_sample

In [ ]:
# Reset the indexes of the shuffled DataFrame
car_sample = car_sample.reset_index(drop = True)

In [ ]:
car_sample

In [ ]:
# Change the Odometer values from kilometers to miles using a Lambda function
# Then view the DataFrame

car_sample["Odometer"] = car_sample["Odometer"].apply(lambda x : x / 1.6)

In [ ]:
car_sample

In [ ]:
# Change the title of the Odometer (KM) to represent miles instead of kilometers
car_sample.rename(columns = {"Odometer":"Odometer Miles"})