In [ ]:
import numpy as np

## Datatypes & Attributes

In [ ]:
# Numpy main datatype is ndarray -> n dimensional array
a1 = np.array([1,2,3])
a1

In [ ]:
type(a1)

In [ ]:
a2 = np.array([[1,2,3],[4,5.4,6.4]])

a3 = np.array([[1,2,3],[4,5.4,6.4],[11,22,33]])

In [ ]:
a2

In [ ]:
a3

![](numpy-anatomy-of-an-array-updated.png)

In [ ]:
# Attributes

a1.shape

In [ ]:
a2.shape #2 rows and 3 columns

In [ ]:
a3.shape

In [ ]:
a1.ndim, a2.ndim, a3.ndim # number of dimensions

In [ ]:
a1.dtype, a2.dtype, a3.dtype

In [ ]:
a1.size, a2.size, a3.size # number of elements

In [ ]:
type(a2),type(a1)

In [ ]:
# Create a dataframe from numPy array
import pandas as pd

df = pd.DataFrame(a2)
df

## 2.Creating Arrays

In [ ]:
sample_array = np.array([1,2,3])
sample_array

In [ ]:
sample_array.dtype

In [ ]:
ones = np.ones((2,3)) #Return a new array of given shape and type, filled with ones.
ones

In [ ]:
ones.dtype

In [ ]:
type(ones)

In [ ]:
zeros = np.zeros((2,3)) ##Return a new array of given shape and type, filled with zeros.
zeros

In [ ]:
range_array = np.arange(0,10,2)
range_array

In [ ]:
random_array = np.random.randint(0,10,size=(3,5))
random_array

In [ ]:
random_array.size

In [ ]:
random_array.shape

In [ ]:
random_array_2 =np.random.random((5,3))

In [ ]:
random_array_2

In [ ]:
random_array_2.shape

In [ ]:
random_array_3 = np.random.rand(5,3)

In [ ]:
random_array_3

In [ ]:
# Pseudo-random numbers
np.random.seed(seed=0) #create random numbers but take them along the seed
random_array_4 = np.random.randint(10, size=(5,3))
random_array_4

In [ ]:
random_array_4.shape

In [ ]:
np.random.seed(seed=0)
random_array_5 = np.random.random((5,3))
random_array_5

In [ ]:
random_array_5 = np.random.random((5,3))
random_array_5

In [ ]:
np.unique(random_array_4)

## 3.Viewing arrays and matrices

In [ ]:
a1

In [ ]:
a2

In [ ]:
a1[0]

In [ ]:
a2.shape

In [ ]:
a2[0]

In [ ]:
a2[1]

In [ ]:
a2[:2, :2]

In [ ]:
a4 = np.random.randint(10, size = (2,3,4,5)) # fromm inner to outer 
a4.shape

In [ ]:
a4

In [ ]:
#Get the first 4 numbers of the inner most array

In [ ]:
a4[:,:,:,:3]

## 4. Manipulating & comparing Arrays and Matrices

### Arithmetic

In [ ]:
a1

In [ ]:
ones

In [ ]:
ones = np.ones(3)

In [ ]:
ones

In [ ]:
a1 + ones # add together the elements of both arrays at the same position

In [ ]:
a1-ones

In [ ]:
a1*ones

In [ ]:
a2

In [ ]:
a1*a2 # only possible when the dim is equal or one of them 1

In [ ]:
a1 / ones

In [ ]:
ones / a1

In [ ]:
a2 // a1 # Floor divison removes the decimals

In [ ]:
a2 ** 2 # pow

In [ ]:
np.square(a2)

In [ ]:
np.add(a1,ones)

In [ ]:
a1%2

In [ ]:
np.exp(a1)

In [ ]:
np.log(a1)

### Aggregation
Aggregation = performing the same operation on a number of things

In [ ]:
listy_list = [1,2,3]

In [ ]:
type(listy_list)

In [ ]:
sum(listy_list)

In [ ]:
a1

In [ ]:
type(a1)

In [ ]:
np.sum(a1)

In [ ]:
sum(a1)

In [ ]:
# Use Python methods on Python DT and Numpy Methods on Numpy DT

In [ ]:
#create a massive np array

In [ ]:
massive_array = np.random.random(100000)
massive_array.size

In [ ]:
massive_array[:10]

In [ ]:
%timeit sum(massive_array) # Python
%timeit np.sum(massive_array) # NP # Performance is faster

In [ ]:
np.mean(a2)

In [ ]:
np.max(a2)

In [ ]:
np.min(a2)

In [ ]:
np.std(a2) # Deviation from the mean of each element [1,2,3] mean = 2 ....

In [ ]:
np.var(a2) # Variance = Quadratic Deviation
# Higher variance = wider range of numbers
# Lower variance = lower range of numbers

# Demo of std and var

In [ ]:
high_var_array = np.array([1,100,200,300,4000,5000])
low_var_array = np.array([2,4,6,8,10])

In [ ]:
np.var(high_var_array), np.var(low_var_array)

In [ ]:
np.std(high_var_array), np.std(low_var_array)

In [ ]:
np.mean(high_var_array), np.mean(low_var_array)

In [ ]:
import matplotlib.pyplot as plt
plt.hist(high_var_array)
plt.show()

In [ ]:
plt.hist(low_var_array)
plt.show()

### Reshaping & Transposing

In [ ]:
a2.shape

In [ ]:
a3.shape

In [ ]:
a2.reshape(2,3,1).shape

In [ ]:
a2_reshape = a2.reshape(2,3,1)

In [ ]:
a2_reshape.shape

In [ ]:
a2_reshape

In [ ]:
a2

In [ ]:
#Transpose = switches the axis
a2.T

In [ ]:
a2.T.shape

### DOT PRODUCT

In [ ]:
np.random.seed(0)

mat1 = np.random.randint(10, size =(5,3))
mat2 = np.random.randint(10, size =(5,3))

mat1

In [ ]:
mat2

In [ ]:
mat1 * mat2 #Element Wise multiplication (hadamard product)

In [ ]:
# DOT Product -> Viele Werte × feste Regeln → Ergebnis

![](dot.png)

![](dot2.png)

In [ ]:
mat3 = np.dot(mat1,mat2.T)

In [ ]:
mat3

## Dot Product example (nut butter sales)

In [ ]:
np.random.seed(0)
# Number of jars sold
sales_amounts = np.random.randint(20,size=(5,3))
sales_amounts

In [ ]:
# Create weekly_sales DataFrame
weekly_sales = pd.DataFrame(sales_amounts, index = ["mon","tues","Wed","Thurs","Fri"], columns=["Almond butter","Peanut Butter","Cashew Butter"])
weekly_sales

In [ ]:
# Create the prices Array 
prices = np.array([10,8,12])
prices

In [ ]:
# Create Prices DF
butter_prices = pd.DataFrame(prices.reshape(1,3), index =["Prices"], columns =["Almond butter","Peanut Butter","Cashew Butter"])
butter_prices

In [ ]:
total_sales = prices.dot(sales_amounts)

In [ ]:
# Shapes arent aligned lets transpose

In [ ]:
total_sales = prices.dot(sales_amounts.T)
total_sales

In [ ]:
# Create daily_sales 
daily_sales = butter_prices.dot(weekly_sales.T)
daily_sales

In [ ]:
weekly_sales["Total"] = daily_sales.T
weekly_sales

### Comparison Operators

In [ ]:
a1

In [ ]:
a2

In [ ]:
a1>a2

In [ ]:
bool_array = a1>=a2
bool_array

In [ ]:
#return always a bool Array

## 5. Sorting Arrays

In [ ]:
random_array

In [ ]:
random_array = np.random.randint(10,size=(3,5))

In [ ]:
random_array

In [ ]:
random_array.shape

In [ ]:
np.sort(random_array)

In [ ]:
np.argsort(random_array) #-> which index has a high Value

In [ ]:
a1

In [ ]:
np.argsort(a1)

In [ ]:
np.argmin(a1) # minimum Value at which index

In [ ]:
np.argmax(a1)

In [ ]:
np.argmax(random_array, axis=1) # axis 1 is vertically and 0 ist horizontally

In [ ]:
random_array

## 6.Practical Example

<img src="./panda.png"/>

In [ ]:
# Turn an image into a NumPy Array
from matplotlib.image import imread

panda = imread("./panda.png")
type(panda)

In [ ]:
panda.size, panda.shape, panda.ndim

In [ ]:
panda[:5]

![](car-photo.png)

In [ ]:
car = imread("./car-photo.png")

In [ ]:
car.shape, car.size, car.ndim